<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple TimeSheet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>

    <div class="container-fluid">

        <section class="select-employee-section">
            <div class="select_employee">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select employee</option>
                    <option value="1">John Wanumn</option>
                    <option value="2">Json Winson</option>
                    <option value="3">Apiwat Dason</option>
                </select>
            </div>
        </section>

        <section class="request-leave-section">

            <select class="form-select" aria-label="Default select example">
                <option selected>Start Date</option>
                <option value="1">John Wanumn</option>
                <option value="2">Json Winson</option>
                <option value="3">Apiwat Dason</option>
            </select>


            <select class="form-select" aria-label="Default select example">
                <option selected>End Date</option>
                <option value="1">John Wanumn</option>
                <option value="2">Json Winson</option>
                <option value="3">Apiwat Dason</option>
            </select>


            <button type="button" class="btn btn-success">Request Leave</button>

        </section>


        <section class="request-leave-section">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>

        </section>

    </div>


</body>

</html>